<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <meta charset="UTF-8">
    <title>Student Helper - Student main</title>
</head>
<body>
<div class="header">
  <h1 class="logo"><a href="/"><img src="{% static "img/logo.png" %}" class="logo" align="center"></a> {{ user.username }} 학생 환영합니다. </h1>
</div>
<div class="row">
    <div class="column">

        <button  onclick="document.getElementById('id01').style.display='block'">내 글 확인하기</button>

            <!-- The Modal -->
    <div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <div class="modal-content animate container" >
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for question..">

        <ul id="myUL" >
        {% for p in posts %}
        <li><a href="detail/{{ p.id }}">{{ p.title }} by {{ p.pub_date }}</a></li>
        {% endfor %}
        </ul>
        </div>
    </div>



    </div>
    <div class="column">
        <button  onclick="document.getElementById('id02').style.display='block'">새로 글 쓰기</button>

                    <!-- The Modal -->
    <div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'"
        class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <div class="modal-content animate container" >
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for templates..">

        <ul id="myUL" >
            <li><a href="thread">서식 없이 작성</a></li>
{#        {% for p in posts %}#}
{#        <li><a href="detail/{{ p.id }}">{{ p.title }} by {{ p.pub_date }}</a></li>#}
{#        {% endfor %}#}
        </ul>
        </div>
    </div>
    </div>
</div>

<script>
function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
<script>
    // Get the modal
    const modal1 = document.getElementById('id01');
    const modal2 = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target === modal1 || event.target === modal2) {
            modal1.style.display = "none";
            modal2.style.display = "none";
        }
    }
</script>
</body>
</html>