<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
    <meta charset="UTF-8">
    <title>호수돈여고의 프로젝트</title>
</head>
<body>
    <h1> 호수돈여고의 프로젝트 인덱스 페이지 </h1>
    <h2> 이곳에는 로그인 창이 있어야 할 듯! </h2>
    {% if id is not None %}
        <h3>Hello {{ mem_type }} {{ id }}</h3>
    {% else %}
        <div>
          <form action="index">
            <label for="id">ID</label>
            <input type="text" id="id" name="identifier" placeholder="Your ID..">

            <label for="passwd">Password</label>
            <input type="password" id="passwd" name="password" placeholder="Your Password..">

            <label for="mem_type">Member type</label>
            <select id="mem_type" name="member_type">
              <option value="student">Student</option>
              <option value="teacher">Teacher</option>
            </select>

            <input type="submit" value="Submit">
          </form>
        </div>
    {% endif %}
</body>
</html>